---
layout: page
title: All Posts
---

{% assign posts = paginator.posts | default: site.posts %}
{% assign writeups = site.writeups %}
{% assign combined_posts = posts | concat: writeups | sort: 'date' | reverse %}

<ul class="posts-list list-unstyled" role="list"></ul>
{% for post in combined_posts %}

  <li class="post-prview">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <a href="{{ post.url | absolute_url }}" style="text-decoration: none;">
        <strong>{{ post.title | strip_html }}</strong>
      </a>
      <span style="margin-left: auto;">
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        {{ post.date | date: date_format }}
      </span>
    </div>
    <div class="blog-tags" style="margin: 0;">
      {% if post.tags %}
        <span>Tags:</span>
        <ul class="d-inline list-inline" role="list">
          {% for tag in post.tags %}
            <li class="list-inline-item">
              <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}