---
layout: page
title: All Posts
---

<ul class="posts-list list-unstyled" role="list">
  {% assign posts = paginator.posts | default: site.posts %}
  {% assign writeups = site.writeups %}
  {% assign combined_posts = posts | concat: writeups | sort: 'date' | reverse %}

  {% for post in combined_posts %}
  <li>
    <div>
      <a href="{{ post.url | absolute_url }}" style="float: left;">
        <strong>{{ post.title | strip_html }}</strong>
      </a>
      <span class="post-meta"; style="float: right;">
        {{ post.date | date: date_format }}
      </span>
    </div>
    <div style="clear: both;"></div> <!-- 줄바꿈 정리 -->
    <div class="blog-tags">
      <span>Tags:</span>
      <ul class="d-inline list-inline" role="list">
        {% for tag in post.tags %}
        <li class="list-inline-item">
          <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  
  {% endfor %}
</ul>
