{% assign category_colors = "Reversing:#f8d7da","forensics": "#d4edda","web": "#d1ecf1","crypto": "#fff3cd","pwnable": "#e2e0f5" | split: "," %}

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Level</th>
      <th>Type</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for prob in include.probs %}
      {% assign a_title = prob[0] | downcase %}
      <tr>
        <td>{{ prob[0] }}</td><!-- 제목 -->
        <td>{{ prob[1] }}</td> <!-- Level -->
        <td>
          {% assign category_color = "#f0f0f0" %}
          {% for pair in category_colors %}
            {% assign key_value = pair | split: ":" %}
            {% if key_value[0] == prob[2] %}
              {% assign category_color = key_value[1] %}
            {% endif %}
          {% endfor %}
          <div style="background-color:{{ category_color }}; padding:10px; border-radius:5px;">
            {{ prob[2] }}
          </div>
        </td>
        <td>{{ prob[3] }}</td> <!-- 비고 -->
      </tr>
    {% endfor %}
  </tbody>
</table>
<p><strong>Level(1-10) : Score / Highest Score</strong></p>